.containerPerfil{
    display: flex;
    margin-top: 25px;
    background: #fff;;
    width: 1600px;
    margin-left: 150px;
    height: 800px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.capaPerfil{
    width: 1600px;
    height: 200px;
}

.fotoPerfil{
    width: 190px;
    height: 190px;
    margin-left: 20px;
    margin-top: 85px;
    border-radius: 50%;
    border: 5px solid #ECEFF1;
    z-index: 99;
}

.headerPerfil{
    background: url('../../assets/capaperfil.png');
    margin-top: 10px;
    margin-left: -55px;
    position: absolute;
    width: 1600px;
    height: 200px;
    left: 210px;
    top: 100px;
}

.nomePerfil{
    margin-top: 125px;
    margin-left: 235px;
}

.loginPerfil{
    margin-left: 270px;
    color: #808080
}

.iconeUsuario{
    position: absolute;
    margin-left: 250px;
    margin-top: -15px;
}

.seguindoPerfil{
    margin-top: -70px;
    margin-left: 550px;
    padding: 4px 4px;
    text-align: center;
}

.imgFollowers{
    margin-left: -45px;
    margin-bottom: -22px;
}

.projetosPerfil{
    margin-top: -60px;
    margin-left: 850px;
    text-align: center;
}

.imgProjetos{
    margin-left: -45px;
    margin-bottom: -20px;
}

.seguidoresPerfil{
    margin-top: -60px;
    margin-left: 1150px;
    text-align: center;
}

.imgFollowing{
    margin-left: -50px;
    margin-bottom: -20px;
}

.sobrePerfil{
    margin-top: 600px;
}

.sobrePerfil{
    display: grid;
}

.menuPerfil{
    margin-top: -270px;
    margin-left: -370px;
    text-align: center;
    height: 465px;
    width: 413px;

}

.sobreMenu{
    background: #F7F9FA;
    height: 50px;
    width: 245px;
    margin-left: 70px;
    padding-top: 15px;
    border: none;
    font-size: 16px;   
    cursor: pointer; 
}

.sobreMenu:focus{
    border-right: 8px solid #fff;
    border-right-color: #5C97D2;
}

.projetosMenu{
    background: #F7F9FA;
    height: 50px;
    width: 245px;
    margin-left: 70px;
    padding-top: 15px;
    border: none;
    font-size: 16px;
}

.projetosMenu:focus{
    border-right: 8px solid #fff;
    border-right-color: #5C97D2;
}

.infoPerfil{
    margin-top: -300px;
    margin-left: 240px;;
}

.barraCinza{
    border: 1px solid #c0c0c0;
    width: 1px;
    margin-left: 40px;
}

.bio{
    color: #162668;
    font-size: 32px;
    margin-top: -200px;
    margin-left: -140px;
}

.bioPerfil{
    font-weight: 400;
    color: #263238;
    margin-left: -140px;
    margin-top: 10px;

}

.imagemLocal{
    margin-left: -140px;
    margin-top: 250px;
}

.localPerfil{
    margin-top: -20px;
    margin-left: -120px;
}

.imagemBlog{
    margin-left: -140px;
    margin-top: 10px;
}

.blogPerfil{
    margin-top: -20px;
    margin-left: -120px;
}

.repositorioGit{
    margin-top: -175px ;
    margin-left: -700px;
    padding: 15px 10px;
    text-align: left;
}

.repositorioNome{
    color:#0366D6;
}

.repositorioLinguagem{
    margin-left: 750px;
    margin-top: -40px;
}

.repositorioData{
    margin-left: 750px;
    margin-top: -20px;
}

.repositorioDesc{
    font-size: 12px;
    color: #586069;
    margin-bottom: 20px;
}

.linhaCinza{
    margin-top: 20px;
    height: 0px;
    width: 101%;

    border: 0.5px solid #586069 ;
}

@media screen and (max-width: 480px){
    .containerPerfil{
        box-shadow: none;
    }

    .bigWrapper{
        margin-top: -40px;
        margin-left: -150px;
    }

    .headerPerfil{
        margin-top: -25px;
        margin-left: -210px;
    }

    .barraCinza{
        display:none;
    }

    .fotoPerfil{
        margin-left: 60px;
        margin-top: 45px;
    }

    .nomePerfil{
        margin-top: 250px;
        margin-left: 25px;
    }

    .loginPerfil{
        margin-left: 100px;
    }

    .iconeUsuario{
        margin-left: 85px;

    }

    .seguindoPerfil{
        margin-left: -1500px;
        margin-top: 10px;
    }

    .projetosPerfil{
        margin-left: -1290px;
    }

    .seguidoresPerfil{
        margin-left: -1070px;
    }

    .sobrePerfil{
        margin-top: 670px;
    }

    .sobreMenu{
        display:inline-block;
        width: 145px;
        margin-left: 115px;
    }

    .projetosMenu{
        width: 145px;
        display: inline-block;
        margin-left: 5px;
    }


    .bio{
        display: flex;
        color:#162668;
        font-size: 22px;
    }
    

    p.bio {
        margin-top: -1070px;
        margin-left: -470px;
    }

    .bioPerfil{
        margin-left: -470px;
        font-size: 16px;
        max-width: 250px;
        word-wrap:break-word;
    }

    .infoPerfil{
        margin-top: 690px;
    }

    .imagemLocal{
        height: 15px;
        width: 15px;
        margin-top: 122px;
        margin-left: -470px;
    }

    .localPerfil{
        margin-top: -20px;
        margin-left: -450px;
    }

    .imagemBlog{
        margin-left: -470px;
    }

    .blogPerfil{
        margin-left: -450px;
    }

    .repositorioGit{
        margin-left: 1050px;
        margin-top: -120px;
    }

    .repositorioNome{
        font-size: 14px;
    }

    .repositorioDesc{
        margin-top: -5px;
        font-size: 8px;
        max-width: 250px;
        word-wrap:break-word;
    }

    .repositorioData{
        font-size: 8px;
        margin-left: 150px;
        margin-top: 10.5px;
        margin-bottom: 1px;
    }

    .repositorioLinguagem{
        font-size: 10px;
        margin-left: 5px;
        margin-top: -25px;
        margin-bottom: 5px;
    }


    .linhaCinza{
        margin-top: -5px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .containerPerfil{
        box-shadow: none;
    }

    .bigWrapper{
        margin-top: -40px;
        margin-left: -150px;
    }

    .headerPerfil{
        margin-top: -25px;
        margin-left: -210px;
    }

    .barraCinza{
        display:none;
    }

    .fotoPerfil{
        margin-left: 100px;
        margin-top: 45px;
    }

    .nomePerfil{
        margin-top: 250px;
        margin-left: 65px;
    }

    .loginPerfil{
        margin-left: 150px;
    }

    .iconeUsuario{
        margin-left: 135px;

    }

    .seguindoPerfil{
        margin-left: -1400px;
        margin-top: 10px;
    }

    .projetosPerfil{
        margin-left: -1190px;
    }

    .seguidoresPerfil{
        margin-left: -970px;
    }


    .sobrePerfil{
        margin-top: 670px;
    }

    .menuPerfil{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sobreMenu{
        margin-left: 150px;
        margin-top: -450px;
        font-size: 1rem;
        border: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        width: 200px;
        height: 50px;
    }

    .projetosMenu{
        margin-left: 150px;
        margin-top: -450px;
    }


    .bio{
        display: flex;
        color:#162668;
        font-size: 22px;
    }
    

    p.bio {
        margin-top: -1070px;
        margin-left: -470px;
    }

    .bioPerfil{
        margin-left: -470px;
        font-size: 16px;
        max-width: 250px;
        word-wrap:break-word;
    }

    .infoPerfil{
        margin-top: 690px;
    }

    .imagemLocal{
        height: 15px;
        width: 15px;
        margin-top: 122px;
        margin-left: -470px;
    }

    .localPerfil{
        margin-top: -20px;
        margin-left: -450px;
    }

    .imagemBlog{
        margin-left: -470px;
    }

    .blogPerfil{
        margin-left: -450px;
    }

    .repositorioGit{
        margin-left: 950px;
        margin-top: -120px;
    }

    .repositorioNome{
        font-size: 16px;

    }

    .repositorioDesc{
        margin-top: 5px;
        font-size: 8px;
        max-width: 250px;
        word-wrap:break-word;
        padding-top: -10px;
    }

    .repositorioData{
        font-size: 8px;
        margin-left: 150px;
        margin-top: 5.5px;
    }

    .repositorioLinguagem{
        font-size: 12px;
        margin-left: 5px;
        margin-top: -45px;
        margin-bottom: 5px;
    }



    .linhaCinza{
        margin-top: -5px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .containerPerfil{
        box-shadow: none;
    }

    .bigWrapper{
        margin-top: -40px;
        margin-left: -150px;
    }

    .headerPerfil{
        margin-top: -25px;
        margin-left: -210px;
    }

    .barraCinza{
        display:none;
    }

    .fotoPerfil{
        margin-left: 255px;
        margin-top: 45px;
    }

    .nomePerfil{
        margin-top: 250px;
        margin-left: 205px;
    }

    .loginPerfil{
        margin-left: 255px;
    }

    .iconeUsuario{
        margin-left: 235px;

    }

    .seguindoPerfil{
        margin-left: -1150px;
        margin-top: 10px;
    }

    .projetosPerfil{
        margin-left: -890px;
    }

    .seguidoresPerfil{
        margin-left: -640px;
    }


    .sobrePerfil{
        margin-top: 670px;
    }



    .sobreMenu{
        margin-left: -90px;
        margin-top: -450px;
        margin-bottom: 25px;
        
    }

    .projetosMenu{
        display:flex;
        margin-left: 290px;
        margin-top: -72px;
    }


    .bio{
        display: flex;
        color:#162668;
        font-size: 22px;
    }
    

    p.bio {
        margin-top: -1070px;
        margin-left: -470px;
    }

    .bioPerfil{
        margin-left: -470px;
        font-size: 16px;
        max-width: 250px;
        word-wrap:break-word;
    }

    .infoPerfil{
        margin-top: 690px;
    }

    .imagemLocal{
        height: 15px;
        width: 15px;
        margin-top: 122px;
        margin-left: -470px;
    }

    .localPerfil{
        margin-top: -20px;
        margin-left: -450px;
    }

    .imagemBlog{
        margin-left: -470px;
    }

    .blogPerfil{
        margin-left: -450px;
    }

    .repositorioGit{
        margin-left: 600px;
        margin-top: -120px;
    }

    .repositorioNome{
        font-size: 16px;
        margin-bottom: 10px
    }

    .repositorioDesc{
        font-size: 10px;
        max-width: 250px;
        word-wrap:break-word;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .repositorioData{
        font-size: 8px;
        margin-left: 150px;
        margin-top: 8.5px;
    }

    .repositorioLinguagem{
        font-size: 12px;
        margin-left: 5px;
        margin-top: -25px;
        margin-bottom: -15px;
    }



    .linhaCinza{
        margin-top: -5px;
    }

} 